@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding: 50px 0px 50px 0px;
    background-color: lightgreen;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
}

img {
    height: 200px;
    width: 200px;
}

header {
    background-color: orangered;
}

nav {
    border-color: 1px solid black;
    padding: 16px;
}

h3 a:hover {
    color: purple;
}

h3 a {
    color: green;
    text-decoration: none;
}

.tacos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

h1 {
    color: green;
}

.nav_links {
    color: white;
    text-decoration: none;
}

nav a:visited {
    color: white;
}

tr:nth-child(2n) {
    background-color: lightgrey;
}

div.zoom {
    height: 200px;
    width: 200px;
    overflow: hidden;
}

div.zoom img {
    height: 200px;
    width: 200px;
    transform-origin: 0 0;
    transition: transform .25s, visibility .25s ease-in;
}

div.zoom:hover img{
    transform: scale(1.5);
}
